.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.label{
  float: below;
}

.image-style {
  width: 50%;
  height: 4vw;
  position:center;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #231d5af8;
  display: block;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}

.caption{
 position:center;
}

